*{
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
}


#header_div{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    color:white;
    font-size:xx-large;
    /*text-align:center;*/
    height:100px;
}

.contains{
    height:100px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    
}

/*Table*/

.div_t{
    display:flex;
    justify-content: space-evenly;
}

#expense-table{
    border:1px solid black;
    width:900px;
    
}

#th_expense{
    width:500px;
}

#th_date{
    width:200px;
}

#th_amount{
    width:200px;
    
}

#th_remove{
    width:100px;
    
}

td {
    border:1px solid black;
}

/*Sum Fields*/

#sum{
    height:20px;

}

#texpense{
    height:20px;
}

/*input fields*/

#name{
    margin-left:5px;
}

#date{
    margin-left:5px;
}

#amount{
    margin-left:5px;
}

/*footer*/

#feedback{
    margin-top:400px;
    background-color: rgb(237, 237, 237);
    
}

#feedback_header{
    text-align: center;
    padding-top:10px;
    font-size: x-large;
}

#feedback_div{
    display: flex;
    justify-content: space-evenly;
    margin-top:50px;
    
}

#feedback_box{
    width:80%;    
    height:200px;
    margin-bottom:100px;
}

#feedback_submit{
    height:50px;
    width:100px;
    margin-bottom:100px;
}

p{
    margin-left: 5px;
}